@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');  		

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	& img {
		max-width: 100%;
	}
}

.container {
	max-width: 1102px;
	margin: 0 auto;
}
.header {
	background-color: #000000;
	padding: 23px 0 22px 0;
	&__body {}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {}
	&__menu {}
	&__list {
		display: flex;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		& li {
			margin: 0 45px 0 0;
			& a {
				color: #ffffff;
				opacity: 0.69;
				&:hover{
					opacity: 1;
				}
			}
			&:last-child {
				margin: 0;
			}
		}
	}
}
.content {
	flex: 1 1 auto;
}

.block1 {
	background: url(../../img/main.jpg) 0 0/cover no-repeat;
	background-color: #9a9a9a;
	padding: 182px 0 139px 0;
	&__body {}
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		color: #ffffff;
		font-family: 'Raleway', sans-serif;
		text-align: left;
	}
	&__logo {}
	&__title {
		display: flex;
		flex-direction: column;
		padding: 36px 0;
		font-size: 36px;
		font-weight: 400;
		text-transform: uppercase;
		&:after{
			content: "";
			width: 65px;
			height: 2px;
			background-color: #ffff;
			margin: 46px 0 0 0;
			border: 1px solid #838383;
		}
	}
	&__text {
		max-width: 461px;
		opacity: 0.8;
		font-size: 16px;
		font-weight: 300;
		line-height: 23px;
		margin: 0 0 44px 0;
	}
	&__btn {}
	&__form {}
}
.btn {
	display: inline-block;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 15px 32px;
	border: 2px solid #ffff;
	&:hover{
		background-color: #838383;
	}
}
.form-style{
	display: inline-block;
	padding: 10px 14px;
	color: #bdbdbd;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	max-width: 285px;
	border-bottom: 1px solid #d6d6d6;
}
.form-block1 {
	margin: 30px 0 0 0;
	display: flex;
	flex-direction: column;
	background-color: #ffff;
	height: 368px;
	&__title {
		margin: 0 0 36px 0;
		padding: 10px 55px;
		color: #333333;
		background-color: #f5f5f5;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 700;
		& span {
			color: #ff8b38;
			font-style: normal;
			letter-spacing: normal;
			line-height: normal;
		}
	}
	&__username {
		margin: 0 45px 36px 45px;
	}
	&__email {
		margin: 0 45px 47px 45px;
	}
	&__password {
		margin: 0 45px 49px 45px;
	}
	&__btn {
		padding: 20px 0;
		display: inline-block;
		background-color: #ff9b51;
		color: #ffffff;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		font-weight: 400;
		text-align: center;
		&:hover{
			background-color: #913c0a;
		}
	}
}

.social {
	padding: 22px 0;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__socialitem {
		font-family: 'Open Sans', sans-serif;
	}
	&__subtitle {
		color: #333333;
		font-size: 20px;
		font-weight: 700;
		text-align: left;
		margin: 0 0 12px 0;
	}
	&__subtext {
		color: #86878b;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
	}
	&__sociallogo {
		margin: 0 0 0 87px;
	}
}

.tabs {
	padding: 147px 0 114px 0;
	background-color: #f5f5f5;
	&__body {
		font-family: 'Open Sans', sans-serif;
	}
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__item {
	}
	&__btn {
		& a {
			margin: 0 101px 0 0;
			display: inline-block;
			width: 112px;
			height: 112px;
			text-align: center;
			color: #ffffff;
			font-size: 15px;
			font-weight: 700;
			line-height: 112px;
			text-transform: uppercase;
			background-color: #333333;
			border: 1px solid #b68a6b;
			&:hover{
				background-color: #ff8b38;
			}
		}
	}
	&__title {
		margin: 8px 0 52px 0;
		color: #000000;
		font-size: 20px;
		font-weight: 700;
		text-align: left;
	}
	&__text {
		color: #86878b;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		margin: 0 80px 51px 0;
		& p:first-child{
			margin: 0 0 25px 0;
		}
	}
	&__download {
		display: inline-block;
		color: #ffffff;
		font-size: 15px;
		font-weight: 400;
		line-height: 20px;
		background-color: #ff8b38;
		padding: 16px 25px;
		border-radius: 5px;
		box-shadow: 2px 2px 5px #9a9a9a;
		&:hover{
			background-color: #913c0a;
		}
	}
	&__logo {
		margin: 24px 0 0 0;
	}
}

.sublist {
	padding: 107px 0 133px 0;
	&__body {
		font-family: 'Open Sans', sans-serif;
	}
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__item {}
	&__image {
		background: url(../../img/sublist.JPG) 0 0/cover no-repeat;
		background-color: #9a9a9a;
		box-shadow: 10px 10px 35px #212121;
		width: 453px;
		height: 303px;
		margin: 20px 194px 0 0;
	}
	&__title {
		display: flex;
		margin: 0 0 30px 0;
		flex-direction: column;
		color: #212121;
		font-size: 20px;
		font-weight: 700;
		line-height: 43px;
		&:after{
			content: "";
			width: 64px;
			height: 2px;
			background-color: #ff8b38;
			margin: 30px 0 0 0;
		}
	}
	&__text {
		margin: 0 0 46px 0;
		color: #86878b;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
	}
	&__box {
		display: flex;
		margin: 0 0 42px 0;
	}
	&__icon {
		margin: 0 30px 0 0;
	}
	&__content {
		display: flex;
	}
	&__subtitle {
		margin: 0 0 12px 0;
		color: #212121;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
	}
	&__subtext {
		color: #86878b;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
	}
}


.sublist2 {
	padding: 90px 0 130px 0;
	background-color: #f5f5f5;
	&__body {
		font-family: 'Open Sans', sans-serif;
	}
	&__row {
		display: flex;
	}
	&__item {}
	&__title {
			display: flex;
			margin: 0 0 30px 0;
			flex-direction: column;
			color: #212121;
			font-size: 20px;
			font-weight: 700;
			line-height: 43px;
			&:after{
				content: "";
				width: 64px;
				height: 2px;
				background-color: #ff8b38;
				margin: 30px 0 0 0;
			}
		}
	&__text {
		color: #86878b;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		text-align: left;
		& p:first-child{
			margin: 0 0 25px 0;
		}
	}
	&__image {
		width: 453px;
		height: 304px;
		background: url(../../img/sublist.JPG) 0 0/cover no-repeat;
		background-color: #9a9a9a;
		box-shadow: -10px 10px 35px #212121;
		margin: 0 0 0 194px;

	}
}

.why {
	padding: 108px 0 105px 0;
	&__body {}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}
	&__item {
		text-align: center;
	}
	&__icon {
		margin: 0 0 29px 0;
	}
	&__category {
		color: #333333;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		margin: 0 0 25px 0;
	}
	&__text {
		width: 360px;
		margin: 0 auto;
		color: #86878b;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}
}

.top{
	text-align: center;
	&__title {
		color: #212121;
		font-family: 'Raleway', sans-serif;
		font-size: 36px;
		font-weight: 400;
		line-height: 43px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 60px 0;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			width: 64px;
			height: 2px;
			background-color: #ff8b38;
			margin: 30px 0 0 0;
			left: 50%;
			margin: 0 0 0 -32px;
			bottom: -30px;
		}
	}	

	&__subtitle {
		color: #86878b;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;;
		line-height: 20px;
		margin: 0 0 80px 0;
	}
}

.parcing {
	padding: 108px 0 96px 0;
	background-color: #f5f5f5;
	&__body {
		font-family: 'Open Sans', sans-serif;
	}
	&__row {
		display: flex;
		align-items: flex-end;
		margin: 0px -20px;
	}
	&__item {
		width: 343px;
		flex: 0 0 33.333%;
		padding: 0 20px;
		text-align: center;
	}
	&__offertitle{
		padding: 21px 0;
		background-color: #333333;
		border-bottom: 2px solid #f5f5f5;
		color: #ffffff;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
	}
	&__price {
		padding: 30px 0 10px 0;
		background-color: #333333;
		font-size: 35px;
		border-bottom: 2px solid #f5f5f5;
		color: #ffffff;
		& span {
			color: #ffffff;
			font-family: 'Raleway', sans-serif;
			font-size: 94px;
			font-weight: 700;
			line-height: 24px;
		}
	}
	&__offer {
		padding: 18px 0;
		background-color: #333333;
		color: #999999;
		font-size: 14px;
		font-weight: 400;
		font-style: italic;
		line-height: 24px;
		border-bottom: 5px solid #ff8b38;
	}
	&__options {
		background-color: #ffffff;
		color: #86878b;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		& li {
			padding: 14px 0;
			border-bottom: 2px solid #f5f5f5;
		}
	}
	&__bestoffer {
		padding: 9px 0 14px 0;
		background-color: #ff8b38;
		color: #ffffff;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
	}
}


.feedback {
	padding: 108px 0 101px 0;
	&__body {}
	&__row {
		display: flex;
		margin: 0 -60px;
	}
	&__item {
		flex: 0 0 33.333%;
		font-family: 'Open Sans', sans-serif;
		padding: 0 60px;
	}
	&__comment {
		background: url(../../img/comment-box.png) 0 0/cover no-repeat;
		color: #86878b;
		padding: 24px 13px;
		font-size: 14px;
		font-weight: 400;
		font-style: italic;
		text-align: left;
		width: 273px;
		height: 147px;
		margin: 0 0 8px 0;
	}
	&__box {
		display: flex;
	}
	&__usericon {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: #9a9a9a;
	}
	&__userinfo{
		display: flex;
		flex-direction: column;
		margin: 16px 0 0 15px;
	}
	&__username {
		color: #333333;
		font-size: 20px;
		font-weight: 700;
		text-align: left;
		margin: 0 0 8px 0;
	}
	&__userrnak {
		color: #86878b;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
	}
}

.axure {
	background: url(../../img/last.jpg) 0 -200px/cover no-repeat;
	background-color: #9a9a9a;
	padding: 74px 0 63px 0;
	&__body {
		text-align: center;
	}
	&__top {}
	&__title {
		color: #ffffff;
		&:after{
			content: "";
			background-color: #ffff;
		}
	}
	&__subtitle {
		color: #ffffff;
	}
	&__btn {}
}


.contact {
	padding: 108px 0 80px 0;
	&__body {
		text-align: center;
	}
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		font-family: 'Open Sans', sans-serif;
	}
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__username {
		display: inline-block;
		padding: 10px 13px 10px 13px;
		margin: 0 0 30px 0;
		width: 527px;
		height: 31px;
		box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
		color: #bdbdbd;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		border-bottom: 1px solid #d6d6d6;
	}
	&__useremail {
		display: inline-block;
		padding: 10px 13px 10px 13px;
		margin: 0 0 30px 0;
		width: 527px;
		height: 31px;
		box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
		color: #bdbdbd;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		border-bottom: 1px solid #d6d6d6;
	}
	&__subject {
		display: inline-block;
		padding: 10px 13px 10px 13px;
		width: 527px;
		height: 31px;
		box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
		color: #bdbdbd;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		border-bottom: 1px solid #d6d6d6;
	}
	&__usermsg {
		display: inline-block;
		width: 527px;
		height: 154px;
		box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
		color: #bdbdbd;
		font-size: 14px;
		font-weight: 400;
		text-align: top;
		border-bottom: 1px solid #d6d6d6;
		margin: 0 0 43px 0;
	}
	&__btn {
		display: inline-block;
		color: #ffffff;
		font-size: 15px;
		font-weight: 400;
		line-height: 20px;
		background-color: #ff8b38;
		padding: 16px 25px;
		border-radius: 5px;
		box-shadow: 2px 2px 5px #9a9a9a;
		&:hover{
			background-color: #913c0a;
		}
	}
}



.footer {
	background-color: #000000;
	color: #ffffff;
	padding: 38px 0 15px 0;
	&__body {}
	&__row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__logo {}
	&__text {
		margin: 15px 0 0 0;
		opacity: 0.5;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		font-weight: 400;
	}
}
